@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// Variables
$near-grey: rgb(58,62,66);
$dark-grey: #121212;
$light-grey: #EEE;
$white: #FFF;

// Styles
body {
  background: $light-grey;
  margin: 0;
}

* {
  font-family: 'Source Sans Pro','Roboto Mono',monospace;
  font-size: 14px;//calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.app-container,
#app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.Nav {
  background:$white;
  box-shadow: 0 5px 10px -5px rgba(black, .2);  
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    overflow: auto;
    li {
      margin: 20px;
    }
  }
}

.form {
  .form-group {
    margin: 10px 20px;
    input {
      padding: 6px;
    }
    .form-button {
      outline: none;
      padding: 4px;
      border: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 9999px;
      font-weight: 900;
      background-color: #ff585d;
      color: #fff;
      text-align: center;
      transition: .2s;
      text-transform: uppercase;
      &:hover {
        transform: scale(1.05);
      }
      &:disabled {
        background-color: gray;
        &:hover {
          transform: scale(1);
        }
      }
    }
    .spacer {
      margin: 0 10px;
      vertical-align: center;
    }
  }
}

.CardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.ProfileTag {
  display: flex;
  align-items: center;
}

.Card {
  background: $white;
  box-shadow: 0 5px 10px -5px rgba(black, .2);
  max-width: 50vw;
  max-height: 70vh;
  min-width: 550px;
  
  .Title {
    padding: 20px;
    background: $dark-grey;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 20px;
    overflow: auto;
    max-height: 53vh;
  }

  .Image {
    height: 44px;
    width: 44px;
    background: orange;
    border-radius: 44px;
    transform: scale(.9);
  }

  .Person {
    align-items: center;
    background-size: cover;
    display: flex;
    margin-bottom: 10px;

    &:first-child {
      margin-bottom: 15px;

      .Image {
        transform: scale(1.15);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .Name {
      margin-left: 10px;
    }

    .Score {
      margin-left: auto;
      font-weight: 700;
    }
  }
}
@media only screen and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) {
  .CardContainer {
    width: 100vw;
    height: 100vh;
    // override previous
    max-width: 100%;
    max-height: 100%;
    justify-content: normal;
    .Card {
      height: 100%;
      width: 100%; 
      // override previous
      min-width: 100%;
      max-height: 100%;
      ul {
        max-height: 67vh;
      }
    }
  }
}